<div class="bg-primary pv0">
	<div class="ph0 mw9 center">

		<div class="flex-l ">
			

			<div class="w-50-l ph0-l br0">
				<img src="img/dots.png" alt="" class="mb0">
			</div>

			<div class="w-50-l ph0-l">




				<h2 class="mw6 f2 fw8 lh-title mb4 mt5 ml5 grey-4 bg-primary">{{.heading}}</h2>
			
				<p class="mw6 f6 mb4 ml5 grey-4">{{.text}}</p>
			</div>
		</div>
		
			<!--<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div>-->

		</div>

		

	</div>
</div>
